
p, li {
    font-size:18px;
    font-family: 'Barlow', sans-serif;
}

h1 {
    font-size: 4em;
    letter-spacing: 10px;
    font-weight: 900;
}

h1, ul {
    color:white;
}
p {
    color:#808397;
}
h2 {
    color:black;
}
h1, h2, a {
    font-family: 'Fraunces', serif;
    font-weight: 900;
}

